@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<diV>
<form method="post">
  <input id="input" type="text" name="name" value="" />
  <br/>
  <br/>
  <input type="submit" name="submit" value="Войти" onclick="Button"/>
</form>
</diV>
